* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #14131b;
}

.boxWrapper {
  width: 400px;
  height: auto;
}
.boxWrapper h2 {
  color: #8f8d9b;
  font-size: 25px;
  width: 100%;
  text-align: center;
  word-spacing: 10px;
  margin-bottom: 20px;
}
.boxWrapper__visiblePass {
  width: 100%;
  height: auto;
  background-color: #24232b;
  padding: 15px 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.boxWrapper__visiblePass_examplePass, .boxWrapper__visiblePass_password {
  font-size: 25px;
  color: rgba(192, 192, 192, 0.626);
  width: 280px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-weight: bold;
  word-break: break-all;
}
.boxWrapper__visiblePass_copyIMG {
  background-image: url("./img/copy.svg");
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: all 0.1s;
}
.boxWrapper__visiblePass_copyIMG:hover {
  transform: scale(1.02);
  background-image: url("./img/copyWhite.svg");
}
.boxWrapper__visiblePass_copyIMG:active {
  transform: scale(0.98);
}
.boxWrapper__navBlock {
  background-color: #24232b;
  width: 100%;
  height: auto;
  padding: 20px;
}
.boxWrapper__navBlock_choiseCountBlock {
  width: 100%;
  height: auto;
  background-color: rgba(144, 142, 156, 0.2156862745);
  border-radius: 20px;
  box-shadow: inset 0px 1px 10px rgba(35, 214, 56, 0.337254902);
  margin-bottom: 20px;
}
.boxWrapper__navBlock_choiseCountBlock_titleCount {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.boxWrapper__navBlock_choiseCountBlock_titleCount h3, .boxWrapper__navBlock_choiseCountBlock_titleCount p {
  color: white;
  font-size: 25px;
  font-weight: bold;
}
.boxWrapper__navBlock_choiseCountBlock_titleCount p {
  color: #a4ffaf;
}
.boxWrapper__navBlock_choiseCountBlock_range {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.boxWrapper__navBlock_choiseCountBlock_range input[type=range] {
  width: 90%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 10px;
  background: #14131b;
  border-radius: 5px;
  margin-bottom: 30px;
  cursor: pointer;
}
.boxWrapper__navBlock_choiseCountBlock_range input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 23px;
  height: 23px;
  background: #e6e5ea;
  border-radius: 50%;
  cursor: pointer;
}
.boxWrapper__navBlock_choiseOptionBlock {
  height: auto;
  background-color: rgba(144, 142, 156, 0.2156862745);
  border-radius: 20px;
  box-shadow: inset 0px 1px 10px rgba(35, 214, 56, 0.337254902);
  margin-bottom: 20px;
  padding: 10px 20px;
}
.boxWrapper__navBlock_choiseOptionBlock h3 {
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}
.boxWrapper__navBlock_choiseOptionBlock_firstOptionInactive, .boxWrapper__navBlock_choiseOptionBlock_secondOptionInactive, .boxWrapper__navBlock_choiseOptionBlock_thirdOptionInactive, .boxWrapper__navBlock_choiseOptionBlock_fourthOptionInactive, .boxWrapper__navBlock_choiseOptionBlock_firstOptionActive, .boxWrapper__navBlock_choiseOptionBlock_secondOptionActive, .boxWrapper__navBlock_choiseOptionBlock_thirdOptionActive, .boxWrapper__navBlock_choiseOptionBlock_fourthOptionActive {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
}
.boxWrapper__navBlock_choiseOptionBlock_firstOptionInactive div, .boxWrapper__navBlock_choiseOptionBlock_secondOptionInactive div, .boxWrapper__navBlock_choiseOptionBlock_thirdOptionInactive div, .boxWrapper__navBlock_choiseOptionBlock_fourthOptionInactive div, .boxWrapper__navBlock_choiseOptionBlock_firstOptionActive div, .boxWrapper__navBlock_choiseOptionBlock_secondOptionActive div, .boxWrapper__navBlock_choiseOptionBlock_thirdOptionActive div, .boxWrapper__navBlock_choiseOptionBlock_fourthOptionActive div {
  width: 20px;
  height: 20px;
  border: 2px solid white;
  flex-shrink: 0;
}
.boxWrapper__navBlock_choiseOptionBlock_firstOptionInactive div:hover, .boxWrapper__navBlock_choiseOptionBlock_secondOptionInactive div:hover, .boxWrapper__navBlock_choiseOptionBlock_thirdOptionInactive div:hover, .boxWrapper__navBlock_choiseOptionBlock_fourthOptionInactive div:hover, .boxWrapper__navBlock_choiseOptionBlock_firstOptionActive div:hover, .boxWrapper__navBlock_choiseOptionBlock_secondOptionActive div:hover, .boxWrapper__navBlock_choiseOptionBlock_thirdOptionActive div:hover, .boxWrapper__navBlock_choiseOptionBlock_fourthOptionActive div:hover {
  border: 2px solid #a4ffaf;
}
.boxWrapper__navBlock_choiseOptionBlock_firstOptionActive div, .boxWrapper__navBlock_choiseOptionBlock_secondOptionActive div, .boxWrapper__navBlock_choiseOptionBlock_thirdOptionActive div, .boxWrapper__navBlock_choiseOptionBlock_fourthOptionActive div {
  width: 20px;
  height: 20px;
  background-color: #a4ffaf;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.boxWrapper__navBlock_choiseOptionBlock_firstOptionActive div img, .boxWrapper__navBlock_choiseOptionBlock_secondOptionActive div img, .boxWrapper__navBlock_choiseOptionBlock_thirdOptionActive div img, .boxWrapper__navBlock_choiseOptionBlock_fourthOptionActive div img {
  width: 17px;
  height: 17px;
}
.boxWrapper__navBlock_generateButton {
  background-color: #a4ffaf;
  width: 100%;
  height: 50px;
  outline: none;
  border: none;
  cursor: pointer;
  color: black;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  transition: all 0.1s;
}
.boxWrapper__navBlock_generateButton div {
  width: 30px;
  height: 30px;
  background-image: url("./img/arrow.svg");
  background-position: center;
  background-size: cover;
}
.boxWrapper__navBlock_generateButton:hover {
  transform: scale(1.02);
  background-color: transparent;
  border: 2px solid #a4ffaf;
  color: #a4ffaf;
}
.boxWrapper__navBlock_generateButton:hover div {
  background-image: url("./img/arrow_green.svg");
}
.boxWrapper__navBlock_generateButton:active {
  transform: scale(0.98);
}/*# sourceMappingURL=App.css.map */